<template>
  <section id="dashboard-ecommerce" ref="refDashboardPage">
    <b-card no-body class="mb-0">
      <div class="m-2 pb-5">
        <!-- Table Top -->
        <b-row>
          <!-- filters -->
          <b-col cols="12" md="2" class="ml-auto mb-3" v-if="userData.roles[0].role_code_name === 'laundris'">
            <v-select
              v-model="customerFilter"
              :options="customersList"
              :reduce="(item) => item.label"
              :clearable="true"
              placeholder="Filter by Customer"
              class="per-page-selector d-inline-block w-100"
            />
          </b-col>
        </b-row>
        <b-row v-if="isLoading == false">
          <b-col md="3" cols="12" align="center" v-for="i in statsList" :key="i.id">
            <b-dropdown
              :disabled="i.dropdown == false"
              size="lg"
              variant="link"
              toggle-class="text-decoration-none"
              no-caret
              no-flip
            >
              <template #button-content>
                <div class="dashboard-card">
                  <h1 v-if="i.quantity">{{ i.quantity.toFixed(2) }}</h1>
                  <h5 class="my-2">{{ i.title }}</h5>
                </div>
              </template>

              <b-dropdown-item
                :class="{ 'dropdown-item-style': drop.count <= 1 }"
                v-for="drop in i.info"
                :key="drop.id"
                href="#"
              >
                <strong class="pr-1" v-if="drop.count">{{ drop.count.toFixed(1) }}</strong
                >{{ drop.title }}</b-dropdown-item
              >
              <!-- <b-dropdown-item href="#">Something else here...</b-dropdown-item>
              <b-dropdown-item href="#">Something else here...</b-dropdown-item>
              <b-dropdown-item href="#">Something else here...</b-dropdown-item> -->
            </b-dropdown>
          </b-col>
          <!-- <b-col cols="3"></b-col>
          <b-col cols="3"></b-col>
          <b-col cols="3"></b-col> -->
        </b-row>
      </div>
    </b-card>
  </section>
</template>

<script>
import {
  BRow,
  BCol,
  BCard,
  BLink,
  BNavbarNav,
  BNavItemDropdown,
  BDropdownItem,
  BDropdownDivider,
  BAvatar,
  BDropdown,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import store from '@/store'
import { ref, onUnmounted, onMounted } from '@vue/composition-api'
import useHomeActions from '../useHomeActions'
import homeStoreModule from '../homeStoreModule'
export default {
  components: {
    BRow,
    BCol,
    BCard,
    BLink,
    BNavbarNav,
    BNavItemDropdown,
    BDropdownItem,
    BDropdownDivider,
    BDropdown,
    BAvatar,
    vSelect,
  },
  data() {
    return {
      // datas: [
      //   {
      //     title: 'Total Par',
      //     quantity: 3.0,
      //     info: [
      //       { title: 'Full Flat Sheets', count: 2.75 },
      //       { title: 'King Flat Sheets', count: 2.0 },
      //       { title: 'Queen Duvet', count: 0 },
      //       { title: 'Twin Flat Sheets', count: 1.25 },
      //     ],
      //     dropdown: true,
      //   },
      //   {
      //     title: 'Inventory - Dirty',
      //     quantity: 395,
      //     info: [
      //       { title: 'Full Flat Sheets', count: 50 },
      //       { title: 'King Flat Sheets', count: 20 },
      //       { title: 'Queen Duvet', count: 0 },
      //       { title: 'Twin Flat Sheets', count: 10 },
      //     ],
      //     dropdown: true,
      //   },
      //   {
      //     title: "Today's Forecast Occupancy",
      //     quantity: 222,
      //     dropdown: false,
      //   },
      //   {
      //     title: 'Inventory - Change (+/-)',
      //     quantity: 21,
      //     dropdown: false,
      //   },
      // ],
    }
  },

  setup() {
    const HOME_APP_STORE_MODULE_NAME = 'app-dashboard'

    // Register module
    if (!store.hasModule(HOME_APP_STORE_MODULE_NAME)) {
      store.registerModule(HOME_APP_STORE_MODULE_NAME, homeStoreModule)
    }

    // UnRegister on leave
    // onUnmounted(() => {
    //   if (store.hasModule(HOME_APP_STORE_MODULE_NAME)) {
    //     store.unregisterModule(HOME_APP_STORE_MODULE_NAME)
    //   }
    // })
    const userData = store.state.auth.userData

    onMounted(() => {
      fetchCustomers()
      fetchStats()
    })

    const {
      fetchCustomers,
      customersList,
      fetchStats,
      statsList,
      isLoading,
      resolveUserStatusVariant,
      customerFilter,
      refDashboardPage,
    } = useHomeActions()

    return {
      fetchCustomers,
      customersList,
      fetchStats,
      statsList,
      isLoading,
      resolveUserStatusVariant,
      customerFilter,
      refDashboardPage,
      userData
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';

#dashboard-ecommerce {
  .dropdown-menu {
    width: 250px !important;
    left: 28px !important;
    border-radius: 16px;
  }
  .dropdown-item:active {
    background-color: #00cfe8;
  }
  .dropdown-item:hover {
    color: #00cfe8;
  }
  .dropdown-item-style a {
    color: red;
  }
  .dropdown-item-style a:hover {
    color: red !important;
  }
}
.dashboard-card {
  border-radius: 16px;
  padding: 48px 16px;
  text-align: center;
  background: #00cfe8;
  width: 250px;
  h1 {
    color: #fff;
    font-weight: 900;
  }
  h5 {
    color: #fff;
    font-weight: 900;
  }

  @media only screen and (max-width: 420px) {
  }
}
</style>
