//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #3eab50;
$body-color: #000;
$font-family-base: 'Inter', 'Helvetica';
