<template>
  <b-sidebar
    lazy
    id="sidebar-right"
    :visible="isSidebarActive"
    v-scroll-lock="isSidebarActive"
    width="25%"
    bg-variant="white"
    right
    backdrop
    shadow
    @change="(val) => $emit('update:is-sidebar-active', val)"
  >
    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-1">
        <h4 class="text-center" v-if="customer">
          Edit Customer #{{ customer.customer_id }}
        </h4>

        <validation-observer ref="customerEditSidebar">
          <b-form ref="form" @submit.stop.prevent="onSubmit">
            <b-form-group label="Customer name" label-for="default-price">
              <validation-provider
                #default="{ errors }"
                v-model="customer_name"
                rules="required"
                name="Customer name"
              >
                <b-form-input
                  type="text"
                  name="Customer name"
                  v-model="customer_name"
                  :state="errors.length > 0 ? false : null"
                  trim
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>

            <b-form-group label="Address" class="mb-2">
              <validation-provider
                #default="{ errors }"
                v-model="address"
                rules="required"
                name="Address"
              >
                <v-select
                  :reduce="(item) => item.value"
                  v-model="address"
                  :options="addressList"
                  placeholder="Address"
                  :clearable="true"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>

            <b-form-group label="Parent customer" class="mb-2">
              <validation-provider
                #default="{ errors }"
                v-model="parent_customer"
                rules="required"
                name="Parent customer"
              >
                <v-select
                  :reduce="(item) => item.value"
                  v-model="parent_customer"
                  :options="filteredCustomers"
                  placeholder="Parent customer"
                  :clearable="true"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>

            <b-form-group label="Customer users" class="mb-2">
              <validation-provider
                #default="{ errors }"
                v-model="customer_users"
                rules="required"
                name="Customer users"
              >
                <v-select
                  :reduce="(item) => item.value"
                  v-model="customer_users"
                  :options="usersList"
                  placeholder="Customer users"
                  :clearable="true"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>

            <b-button variant="primary" type="submit"> Edit Customer </b-button>
          </b-form>
        </validation-observer>
      </div>
    </b-card>
  </b-sidebar>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  VBTooltip,
  BSidebar,
  BForm,
  BFormGroup,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import store from '@/store'
import {
  ref,
  onUnmounted,
  onMounted,
  watch,
  toRef,
  computed,
} from '@vue/composition-api'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import formValidation from '@core/comp-functions/forms/form-validation'
import { required } from '@validations'
import useCustomerList from './useCustomerList'
import customerStoreModule from './customerStoreModule'
export default {
  components: {
    BCard,
    BForm,
    BFormGroup,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BSidebar,
    ValidationProvider,
    ValidationObserver,
    vSelect,
  },
  directives: {
    'b-tooltip': VBTooltip,
  },
  model: {
    prop: 'isSidebarActive',
    event: 'update:is-sidebar-active',
  },
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true,
    },
    filteredCustomers: {
      type: Array,
    },
    customer: {
      default: null,
      required: true,
    },
  },
  data() {
    return {
      required,
      options: [],
      address: null,
      parent_customer: null,
      customer_users: null,
      customer_name: null,
    }
  },
  watch: {
    customer(newValue) {
      if (newValue) {
        this.address = this.customer.address.customer_address_id
        this.parent_customer = this.customer.parent_customer.customer_id
        this.customer_name = this.customer.customer_name
      }
    },
  },

  setup(props, { emit }) {
    const CUSTOMER_SIDEBAR_STORE_MODULE_NAME = 'app-customer'

    // Register module
    if (!store.hasModule(CUSTOMER_SIDEBAR_STORE_MODULE_NAME)) {
      store.registerModule(
        CUSTOMER_SIDEBAR_STORE_MODULE_NAME,
        customerStoreModule
      )
    }
    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(CUSTOMER_SIDEBAR_STORE_MODULE_NAME))
        store.unregisterModule(CUSTOMER_SIDEBAR_STORE_MODULE_NAME)
    })

    onMounted(() => {
      fetchAddress()
      fetchUsers()
    })

    const { fetchAddress, fetchUsers, addressList, usersList } =
      useCustomerList()

    return {
      fetchAddress,
      fetchUsers,
      addressList,
      usersList,
    }
  },

  methods: {
    onSubmit() {
      this.$refs.customerEditSidebar.validate().then((success) => {
        if (!success) return
        const reqData = {
          address: +this.address,
          parent_customer: +this.parent_customer,
          customer_users: [+this.customer_users] ? [+this.customer_users] : this.customer.customer_users,
          customer_name: this.customer_name,
          active_flag: 'active',
        }
        store
          .dispatch('app-customer/updateCustomer', {
            id: this.customer.customer_id,
            data: reqData,
          })
          .then(() => {
            this.$toast({
              component: ToastificationContent,
              props: {
                title: 'Customer edited succesfully!',
                icon: 'CheckIcon',
                variant: 'success',
              },
            })
            location.reload()
          })
          .catch((e) =>
            this.$toast({
              component: ToastificationContent,
              props: {
                title: `Error happened OOPS!`,
                icon: 'AlertTriangleIcon',
                variant: 'danger',
              },
            })
          )
          .finally(() => {})
      })
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
</style>
