<template>
  <ul>
    <VerticalNavMenuLink :item="dashboard" />
    <VerticalNavMenuLink v-if="userData.roles[0].role_code_name === 'laundris'" :item="customer" />
    <VerticalNavMenuLink :item="inventory" />
    <VerticalNavMenuLink :item="snapshot" v-if="userData.roles[0].role_code_name === 'customer'"/>
    <VerticalNavMenuLink :item="profile" v-if="userData.roles[0].role_code_name === 'customer'"/>
    <VerticalNavMenuLink :item="reserve" />
  </ul>
</template>

<script>
import { resolveVerticalNavMenuItemComponent as resolveNavItemComponent } from '@core/layouts/utils'
import { provide, ref } from '@vue/composition-api'
import VerticalNavMenuHeader from '../vertical-nav-menu-header'
import VerticalNavMenuLink from '../vertical-nav-menu-link/VerticalNavMenuLink.vue'
import VerticalNavMenuGroup from '../vertical-nav-menu-group/VerticalNavMenuGroup.vue'
import store from '@/store'
export default {
  components: {
    VerticalNavMenuHeader,
    VerticalNavMenuLink,
    VerticalNavMenuGroup,
  },
  data() {
    return {
      dashboard: {
        title: 'verticalNav.home',
        route: 'home',
        icon: 'HomeIcon',
      },
      customer: {
        title: 'verticalNav.customers',
        route: 'customers',
        icon: 'UsersIcon',
      },
      inventory: {
        title: 'verticalNav.inventory',
        route: 'inventory',
        icon: 'AnchorIcon',
      },
      snapshot: {
        title: 'verticalNav.snapshot',
        route: 'snapshot',
        icon: 'CameraIcon',
      },
      profile: {
        title: 'verticalNav.hotel',
        route: 'hotel-profile',
        icon: 'ServerIcon',
      },
      reserve: {
        title: 'verticalNav.reservations',
        route: 'reservations',
        icon: 'BookmarkIcon',
      },
    }
  },
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
  setup() {
    provide('openGroups', ref([]))

    const userData = store.state.auth.userData
    return {
      resolveNavItemComponent,
      userData
    }
  },
}
</script>
