<template>
  <div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
      <!-- Login v1 -->
      <b-card class="mb-0">
        <b-link class="brand-logo">
          <!-- <vuexy-logo /> -->
          <b-img
            :src="require('@/assets/images/logo/laundris-logo.jpg')"
          ></b-img>
        </b-link>
        <h3 class="brand-text text-primary ml-1 mb-0 text-center">Welcome to Laundris</h3>

        <!-- <b-card-title class="mb-1">
          Добро пожаловать! 👋
        </b-card-title> -->
        <!-- <b-card-text class="mb-2">
          Please, provide valid login and password
        </b-card-text> -->

        <!-- form -->
        <validation-observer ref="loginForm">
          <b-form class="auth-login-form mt-2" @submit.prevent>
            <!-- username -->
            <b-form-group label="Login" label-for="login-email">
              <validation-provider
                vid="email"
                #default="{ errors }"
                name="login-email"
                rules="required"
              >
                <b-form-input
                  id="login-email"
                  v-model="email"
                  :state="errors.length > 0 ? false : null"
                  name="login-email"
                  placeholder="email"
                />
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>

            <!-- forgot password -->
            <b-form-group>
              <div class="d-flex justify-content-between">
                <label for="login-password">Password</label>
                <!-- <b-link :to="{ name: 'auth-forgot-password-v2' }">
                  <small>Forgot Password?</small>
                </b-link> -->
              </div>
              <validation-provider
                vid="password"
                #default="{ errors }"
                name="password"
                rules="required"
              >
                <b-input-group
                  class="input-group-merge"
                  :class="errors.length > 0 ? 'is-invalid' : null"
                >
                  <b-form-input
                    id="login-password"
                    v-model="password"
                    :state="errors.length > 0 ? false : null"
                    class="form-control-merge"
                    :type="passwordFieldType"
                    name="login-password"
                    placeholder="············"
                  />
                  <b-input-group-append is-text>
                    <feather-icon
                      class="cursor-pointer"
                      :icon="passwordToggleIcon"
                      @click="togglePasswordVisibility"
                    />
                  </b-input-group-append>
                </b-input-group>
                <small class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </b-form-group>

            <!-- checkbox -->
            <!-- <b-form-group>
                <b-form-checkbox
                  id="remember-me"
                  v-model="status"
                  name="checkbox-1"
                >
                  Remember Me
                </b-form-checkbox>
              </b-form-group> -->

            <!-- submit buttons -->
            <b-button
              type="submit"
              variant="primary"
              block
              @click="validationForm"
            >
              Login
            </b-button>
          </b-form>
        </validation-observer>
      </b-card>
    </div>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import VuexyLogo from '@core/layouts/components/Logo.vue'
import {
  BCard,
  BRow,
  BCol,
  BLink,
  BFormGroup,
  BFormInput,
  BInputGroupAppend,
  BInputGroup,
  BFormCheckbox,
  BCardText,
  BCardTitle,
  BImg,
  BForm,
  BButton,
} from 'bootstrap-vue'
import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import store from '@/store/index'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import useJwt from '@/auth/jwt/useJwt'
import { mapActions, mapMutations } from 'vuex'
import { isNoAccount } from '@/utils/functions/errors'

export default {
  components: {
    BCard,
    BRow,
    BCol,
    BLink,
    BFormGroup,
    BFormInput,
    BInputGroupAppend,
    BInputGroup,
    BFormCheckbox,
    BCardText,
    BCardTitle,
    BImg,
    BForm,
    BButton,
    VuexyLogo,
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      password: '',
      email: '',
      required,
      email,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
  },
  methods: {
    ...mapMutations({
      setAuthToken: 'auth/SET_AUTH_TOKEN',
      setUser: 'auth/SET_USER',
    }),
    ...mapActions({
      fetchUserData: 'auth/fetchUserData',
      loginUser: 'auth/loginUser',
    }),
    afterLogin() {
      this.fetchUserData()
        .then((userData) => {
          this.setUser(userData.data)
          this.$router.push('/').then(() => {
            // this.$toast({
            //   component: ToastificationContent,
            //   position: 'top-right',
            //   props: {
            //     title: `Welcome `,
            //     icon: 'CoffeeIcon',
            //     variant: 'success',
            //     text: `You have successfully logged in as admin. Now you can start to explore!`,
            //   },
            // })
          })
        })
        .catch((error) => {
          console.error(error)

          this.$toast({
            component: ToastificationContent,
            position: 'top-right',
            props: {
              title: `Error occured while fetching user data`,
              icon: 'AlertIcon',
              variant: 'error',
              text: 'Please try again later',
            },
          })
        })
    },
    validationForm() {
      this.$refs.loginForm.validate().then((success) => {
        if (success) {
          useJwt
            .login({
              email: this.email,
              password: this.password,
            })
            .then((response) => {
              // `response.data` is response from API which is above mentioned
              const { access, refresh } = response.data
              // Setting access token in localStorage
              // NOTE: Please check the source code to better understand JWT service
              useJwt.setToken(access)
              // Setting refresh token in localStorage
              useJwt.setRefreshToken(refresh)

              // Store auth tokens in vuex
              this.setAuthToken({ access, refresh })

              // Fetch user data after login
              this.afterLogin()
            })
            .catch((error) => {
              this.$toast({
                component: ToastificationContent,
                position: 'top-right',
                props: {
                  title: error,
                  icon: 'AlertIcon',
                  variant: 'error',
                  text: 'Please try again later',
                },
              })
            })
        }
      })
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-auth.scss';
</style>
