<template>
  <div>
    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- <reject-modal :visible="isRejectModalVisible" /> -->
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col
            cols="12"
            md="2"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <label>Show</label>
            <v-select
              v-model="perPage"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
            />
          </b-col>
        </b-row>
      </div>

      <b-table
        ref="refSnapshotsListTable"
        class="position-relative"
        table-class="offers-table"
        :busy="isLoading"
        :items="fetchSnapshots"
        responsive
        :fields="tableColumns"
        primary-key="id"
        show-empty
        empty-text="No any new Snapshots yet!"
      >
        <!-- Column: customer -->
        <template #cell(customer)="{ item }">
          <p>{{ item.customer_name }}</p>
        </template>
        <!-- Column: inventory_item_id -->
        <template #cell(laundris_item_name)="{ item }">
          <p>{{ item.item_type }}</p>
        </template>
        <!-- Column: location -->
        <template #cell(location)="{ item }">
          <p>{{ item.customer_item_name }}</p>
        </template>

        <!-- Column: linen_quantity_in_usage -->
        <template #cell(linen_quantity_in_usage)="{ item }">
          <p>{{ item.linen_quantity_in_usage }}</p>
        </template>

        <!-- Column: linen_quantity_in_storage -->
        <template #cell(linen_quantity_in_storage)="{ item }">
          <p>{{ item.linen_quantity_in_storage }}</p>
        </template>

        <!-- Column: linen_spoilage_quantity -->
        <template #cell(linen_spoilage_quantity)="{ item }">
          <p>{{ item.linen_spoilage_quantity }}</p>
        </template>

        <!-- Column: linen_quantity_at_laundris -->
        <template #cell(linen_quantity_at_laundris)="{ item }">
          <p>{{ item.linen_quantity_at_laundris }}</p>
        </template>

        <!-- Column: linen_quantity_at_laundris -->
        <template #cell(date)="{ item }">
          <p>{{ $dayjs(item.creation_date).format('MM/DD/YYYY,') }} {{ $dayjs(item.creation_date).format('HH:mm') }}</p>
        </template>

        <!-- Column: Status -->
        <!-- <template #cell(active_flag)="{ item }">
          <b-badge
            pill
            :variant="`light-${resolveUserStatusVariant(item.active_flag)}`"
            class="text-capitalize px-2"
          >
            {{ item.active_flag }}
          </b-badge>
        </template> -->

        <!-- Column: Actions -->
        <!-- <template #cell(actions)="{ item }">
          <b-button
            v-b-tooltip.hover.top="'Manage Contacts'"
            variant="flat-success"
            class="btn-icon"
          >
            <feather-icon icon="RepeatIcon" size="18" />
          </b-button>
          <b-button
            v-b-tooltip.hover.top="'Edit Customer'"
            variant="flat-info"
            class="btn-icon"
            @click="onChangeItem(item)"
          >
            <feather-icon icon="EditIcon" size="18" />
          </b-button>
          <b-button
            v-b-tooltip.hover.top="'Inactive Customer'"
            variant="flat-danger"
            class="btn-icon"
          >
            <feather-icon icon="XCircleIcon" size="18" />
          </b-button>
        </template> -->
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-start
            "
          >
            <span class="text-muted"
              >Showing {{ dataMeta.from }} to {{ dataMeta.to }} of
              {{ dataMeta.of }} entries</span
            >
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-end
            "
          >
            <b-pagination
              v-model="currentPage"
              :total-rows="totalSnapshots"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
    <!-- <EditCustomer
      :customer="customer"
      :is-sidebar-active.sync="isEditSidebarVisible"
    /> -->
  </div>
</template>


<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  VBTooltip,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import store from '@/store'
import { ref, onUnmounted, onMounted } from '@vue/composition-api'
import snapshotsStoreModule from '../snapshotsStoreModule'
import useSnapshotsList from '../useSnapshotsList'
export default {
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    vSelect,
  },
  directives: {
    'b-tooltip': VBTooltip,
  },
  data() {
    return {
      // snapshots_list: [
      //   {
      //     customer_name: 'Whotel',
      //     item_type: 'King Flat Sheets',
      //     location: 'Floor 1',
      //     linen_quantity_in_usage: 2,
      //     linen_quantity_in_storage: 1,
      //     linen_spoilage_quantity: 1,
      //     linen_quantity_at_laundris: 1,
      //   },
      // ],
    }
  },

  setup() {
    const SNAPSHOT_APP_STORE_MODULE_NAME = 'app-snapshot'

    // Register module
    if (!store.hasModule(SNAPSHOT_APP_STORE_MODULE_NAME)) {
      store.registerModule(SNAPSHOT_APP_STORE_MODULE_NAME, snapshotsStoreModule)
    }

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(SNAPSHOT_APP_STORE_MODULE_NAME)) {
        store.unregisterModule(SNAPSHOT_APP_STORE_MODULE_NAME)
      }
    })

    // onMounted(() => fetchSnapshots())

    const {
      fetchSnapshots,
      snapshotsList,
      totalSnapshots,
      isLoading,
      tableColumns,
      perPage,
      currentPage,
      dataMeta,
      perPageOptions,
      refSnapshotsListTable,
    } = useSnapshotsList()

    return {
      fetchSnapshots,
      snapshotsList,
      totalSnapshots,
      isLoading,
      tableColumns,
      perPage,
      currentPage,
      dataMeta,
      perPageOptions,
      refSnapshotsListTable,
    }
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}
.expand-btn {
  cursor: pointer;
  border: 1px solid #dbdbdb;
  padding: 4px;
  border-radius: 4px;
}
</style>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
</style>
