<template>
  <div>
    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- <reject-modal :visible="isRejectModalVisible" /> -->
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col
            cols="12"
            md="2"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <label>Show</label>
            <v-select
              v-model="perPage"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
            />
            <!-- <label>entries</label> -->
          </b-col>
          <!-- filters -->
          <b-col
            cols="12"
            md="2"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <v-select
              v-model="statusFilter"
              :options="statusOptions"
              :reduce="(item) => item.value"
              :clearable="true"
              placeholder="Status"
              class="per-page-selector d-inline-block w-100"
            />
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="4" class="ml-auto">
            <div class="d-flex">
              <b-form-input
                v-model="searchQuery"
                class="d-inline-block mr-1"
                placeholder="Search..."
              />
              <b-button
                @click="isAddSidebarVisible = true"
                class="w-75"
                variant="outline-success"
                >Add Customer</b-button
              >
            </div>
          </b-col>
        </b-row>
      </div>

      <b-table
        ref="refCustomersListTable"
        class="position-relative"
        table-class="offers-table"
        :busy="isLoading"
        :items="fetchCustomers"
        responsive
        :fields="tableColumns"
        primary-key="id"
        show-empty
        empty-text="No matching records found"
      >
        <!-- Column: customer_name -->
        <template #cell(customer_name)="{ item }">
          <strong>{{ item.customer_name }}</strong>
        </template>

        <!-- Column: adress -->
        <template #cell(address)="{ item }">
          <span v-if="item.address">
            {{ item.address.address_line1 }}, {{ item.address.address_type }}, {{
              item.address.city
            }}, {{ item.address.state }}, {{ item.address.country }}
          </span>
        </template>

        <!-- Column: Status -->
        <template #cell(active_flag)="{ item }">
          <b-badge
            pill
            :variant="`light-${resolveUserStatusVariant(item.active_flag)}`"
            class="text-capitalize px-2"
          >
            {{ item.active_flag }}
          </b-badge>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="{ item }">
          <b-button
            v-b-tooltip.hover.top="'Manage Contacts'"
            variant="flat-success"
            class="btn-icon"
          >
            <feather-icon icon="RepeatIcon" size="18" />
          </b-button>
          <b-button
            v-b-tooltip.hover.top="'Edit Customer'"
            variant="flat-info"
            class="btn-icon"
            @click="onChangeItem(item)"
          >
            <feather-icon icon="EditIcon" size="18" />
          </b-button>
          <!-- <b-button
            v-b-tooltip.hover.top="'Inactive Customer'"
            variant="flat-danger"
            class="btn-icon"
          >
            <feather-icon icon="XCircleIcon" size="18" />
          </b-button> -->
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-start
            "
          >
            <span class="text-muted"
              >Showing {{ dataMeta.from }} to {{ dataMeta.to }} of
              {{ dataMeta.of }} entries</span
            >
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-end
            "
          >
            <b-pagination
              v-model="currentPage"
              :total-rows="totalCustomers"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
    <EditCustomer
      :customer="customer"
      :is-sidebar-active.sync="isEditSidebarVisible"
      :filteredCustomers="filteredCustomers"
    />
    <AddCustomer :filteredCustomers="filteredCustomers" :is-sidebar-active.sync="isAddSidebarVisible" />
  </div>
</template>


<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  VBTooltip,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import store from '@/store'
import { ref, onUnmounted, onMounted } from '@vue/composition-api'
import customerStoreModule from '../customerStoreModule'
import useCustomerList from '../useCustomerList'
import EditCustomer from '../EditCustomer.vue'
import AddCustomer from '../AddCustomer.vue'
export default {
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    EditCustomer,
    AddCustomer,
    vSelect,
  },
  directives: {
    'b-tooltip': VBTooltip,
  },
  data() {
    return {
      isAddSidebarVisible: false,
      isEditSidebarVisible: false,
      customer: null,
    }
  },

  setup() {
    const CUSTOMER_APP_STORE_MODULE_NAME = 'app-customer'

    // Register module
    if (!store.hasModule(CUSTOMER_APP_STORE_MODULE_NAME)) {
      store.registerModule(CUSTOMER_APP_STORE_MODULE_NAME, customerStoreModule)
    }

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(CUSTOMER_APP_STORE_MODULE_NAME)) {
        store.unregisterModule(CUSTOMER_APP_STORE_MODULE_NAME)
      }
    })

    const statusOptions = [
      { label: 'ACTIVE', value: 'active' },
      { label: 'INACTIVE', value: 'inactive' },
      // { label: 'Все крому Неактивный', value: 'ACTIVE,ON_REVIEW' },
    ]

    const {
      fetchCustomers,
      customersList,
      isLoading,
      tableColumns,
      perPage,
      currentPage,
      totalCustomers,
      dataMeta,
      perPageOptions,
      searchQuery,
      refCustomersListTable,
      resolveUserStatusVariant,
      statusFilter,
      refetchData,
      filteredCustomers,
    } = useCustomerList()

    return {
      fetchCustomers,
      customersList,
      isLoading,
      tableColumns,
      perPage,
      currentPage,
      totalCustomers,
      dataMeta,
      perPageOptions,
      searchQuery,
      refCustomersListTable,
      resolveUserStatusVariant,
      statusOptions,
      statusFilter,
      refetchData,
      filteredCustomers
    }
  },
  methods: {
    onChangeItem(item) {
      this.customer = item
      this.isEditSidebarVisible = true
    },
  },
}
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}
.expand-btn {
  cursor: pointer;
  border: 1px solid #dbdbdb;
  padding: 4px;
  border-radius: 4px;
}
</style>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
</style>
