<template>
  <div>
    <Ecommerce />
  </div>
</template>

<script>
import { BCard, BCardText, BLink } from 'bootstrap-vue'
import Ecommerce from './ecommerce/Ecommerce.vue'

export default {
  components: {
    BCard,
    BCardText,
    BLink,
    Ecommerce
  }
}
</script>

<style></style>
