<template>
  <div class="inventory">
    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- <reject-modal :visible="isRejectModalVisible" /> -->
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col
            cols="12"
            md="2"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <label>Show</label>
            <v-select
              v-model="perPage"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
            />
          </b-col>
          <!-- filters -->
          <b-col
            cols="12"
            md="2"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <v-select
              v-if="userData.roles[0].role_code_name === 'laundris'"
              v-model="statusFilter"
              :options="customersList"
              :reduce="(item) => item.value"
              :clearable="true"
              placeholder="Filter by Customer"
              class="per-page-selector d-inline-block w-100"
            />
          </b-col>
          <!-- Search -->
          <b-col cols="12" md="8" align="end">
            <b-button
              v-if="userData.roles[0].role_code_name === 'laundris'"
              @click="isAddSidebarVisible = true"
              variant="info"
              >Add Inventory</b-button
            >
            <b-button
            v-if="userData.roles[0].role_code_name === 'customer'"
            class="ml-2"
              variant="success"
              @click="onUpdateSnapshot"
              >Create Snapshot</b-button
            >
          </b-col>
        </b-row>
      </div>

      <b-table
        ref="refInventoryListTable"
        class="position-relative"
        table-class="offers-table"
        :busy="isLoading"
        :items="fetchInventories"
        responsive
        :fields="tableColumns"
        primary-key="id"
        show-empty
        empty-text="No matching records found"
      >
        <!-- Column: customer -->
        <template #cell(customer)="{ item }">
          <span
            >{{ item.customer.customer_name }}
            <b-badge
              :variant="`light-${resolveUserStatusVariant(
                item.customer.active_flag
              )}`"
              >{{ item.customer.active_flag }}</b-badge
            >
          </span>
        </template>

        <!-- Column: contact -->
        <template #cell(item_type)="{ item }">
          <h5>{{ item.item_type.item_name }}</h5>
        </template>

        <template #cell(location)="{ item }">
          <h5>{{ item.customer.address }}</h5>
        </template>

        <!-- Column: state -->
        <!-- <template #cell(state)="{ item }">
          <strong>{{ item.address.state.name }}</strong>
        </template> -->
        <!-- Column: country -->
        <!-- <template #cell(country)="{ item }">
          <strong>{{ item.address.country.name }}</strong>
        </template> -->

        <!-- Column: Status -->
        <!-- <template #cell(status)="{ item }">
          <b-badge
            pill
            :variant="`light-${resolveUserStatusVariant(item.status.name)}`"
            class="text-capitalize"
          >
            {{ item.status.name }}
          </b-badge>
        </template> -->

        <!-- Column: Actions -->
        <template #cell(actions)="{ item }">
          <!-- <b-button
            v-b-tooltip.hover.top="'Manage Contacts'"
            variant="flat-success"
            class="btn-icon"
          >
            <feather-icon icon="RepeatIcon" size="18" />
          </b-button> -->
          <b-button
            v-b-tooltip.hover.top="'Edit'"
            variant="flat-info"
            class="btn-icon"
            @click="onChangeItem(item)"
          >
            <feather-icon icon="EditIcon" size="18" />
          </b-button>
          <!-- <b-button
            v-b-tooltip.hover.top="'Inactive Customer'"
            variant="flat-danger"
            class="btn-icon"
          >
            <feather-icon icon="XCircleIcon" size="18" />
          </b-button> -->
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-start
            "
          >
            <span class="text-muted"
              >Showing {{ dataMeta.from }} to {{ dataMeta.to }} of
              {{ dataMeta.of }} entries</span
            >
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-end
            "
          >
            <b-pagination
              v-model="currentPage"
              :total-rows="totalInventory"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
    <AddInventory
      :inventory="inventory"
      :customersList="customersList"
      :contactsList="contactsList"
      :itemtypesList="itemtypesList"
      :is-sidebar-active.sync="isAddSidebarVisible"
    />
     <EditInventory
      :inventory="inventory"
      :customersList="customersList"
      :contactsList="contactsList"
      :itemtypesList="itemtypesList"
      :is-sidebar-active.sync="isEditSidebarVisible"
    />
  </div>
</template>


<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  VBTooltip,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import store from '@/store'
import { ref, onUnmounted, onMounted } from '@vue/composition-api'
import inventoryStoreModule from '../inventoryStoreModule'
import useInventory from '../useInventory'
import AddInventory from '../AddInventory.vue'
import EditInventory from '../EditInventory.vue'
export default {
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    AddInventory,
    EditInventory,
    vSelect,
  },
  directives: {
    'b-tooltip': VBTooltip,
  },
  data() {
    return {
      isAddSidebarVisible: false,
      isEditSidebarVisible: false,
      inventory: null,
    }
  },

  setup() {
    const INVENTORY_APP_STORE_MODULE_NAME = 'app-inventory'

    // Register module
    if (!store.hasModule(INVENTORY_APP_STORE_MODULE_NAME)) {
      store.registerModule(
        INVENTORY_APP_STORE_MODULE_NAME,
        inventoryStoreModule
      )
    }

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(INVENTORY_APP_STORE_MODULE_NAME)) {
        store.unregisterModule(INVENTORY_APP_STORE_MODULE_NAME)
      }
    })

    onMounted(() => {
      fetchCustomers()
      fetchContacts()
      fetchItemtypes()
    })

    const userData = store.state.auth.userData

    const {
      fetchInventories,
      inventoryList,
      fetchContacts,
      contactsList,
      fetchItemtypes,
      itemtypesList,
      isLoading,
      tableColumns,
      perPage,
      currentPage,
      totalInventory,
      dataMeta,
      perPageOptions,
      searchQuery,
      refInventoryListTable,
      resolveUserStatusVariant,
      statusFilter,
      fetchCustomers,
      customersList,
      updateSnapshot,
    } = useInventory()

    return {
      fetchCustomers,
      customersList,
      fetchInventories,
      inventoryList,
      fetchContacts,
      contactsList,
      fetchItemtypes,
      itemtypesList,
      isLoading,
      tableColumns,
      perPage,
      currentPage,
      totalInventory,
      dataMeta,
      perPageOptions,
      searchQuery,
      refInventoryListTable,
      resolveUserStatusVariant,
      statusFilter,
      userData,
      updateSnapshot,
    }
  },
  methods: {
    onChangeItem(item) {
      this.inventory = item
      this.isEditSidebarVisible = true
    },
    onUpdateSnapshot() {
      this.updateSnapshot({ customerId: 1 })
    },
  },
}
</script>

<style lang="scss">
.per-page-selector {
  width: 90px;
}
.expand-btn {
  cursor: pointer;
  border: 1px solid #dbdbdb;
  padding: 4px;
  border-radius: 4px;
}
.additional-text {
  font-size: 12px;
  color: rgb(139, 139, 139);
}
.inventory {
  &__icon {
    background: #70ffb0;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 10rem;
    color: #fff;
  }
}
</style>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
</style>
